{% extends "registration/_base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% load i18n %}

{% block page_header %}
    {% trans "log in" %}
{% endblock page_header %}

{% block body %}
    <div class="h-screen flex justify-center items-center">
        <div class="bg-white rounded-2xl shadow-box-sm w-11/12 sm:w-7/12 md:w-6/12 lg:w-4/12 xl:w-3/12 h-auto py-5 px-4">
        <img class="w-48 mx-auto" src="./assets/image/logo.png" alt="">
        <div class="center-text" class="mt-5 text-lg text-zinc-700">
             {% trans "sign up" %}
        </div>
        <div class="mt-8 mb-4 text-xs text-zinc-500">
            {% trans "please enter your information" %}
        </div>
        <form action='' method='POST'>
            {% csrf_token %}
            {{form|crispy}}
            <button type='submit' class="mx-auto w-full px-2 py-3 mt-8 text-sm bg-red-500 hover:bg-red-400 transition text-gray-100 rounded-lg">
                {% trans "Sign In" %}
            </button>
        </form>
        <div class="mt-8 mb-4 text-xs text-zinc-500">
            {% trans "login your into " %}<a class="text-red-400 hover:text-red-500 transition" href=""> {% trans "terms and condation" %}</a> {% trans "modkala" %}
        </div>
        </div>
    </div>
{% endblock body %}